    <div class="menu">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="#" ><i class="fa fa-envelope" aria-hidden="true"></i>staff@ecamo.org</a></li>
            <li><a href="#" ><i class="fa fa-phone" aria-hidden="true"></i>+243 900 500 4800</a></li>
          </ul>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['donation']" ><i class="fa fa-credit-card" aria-hidden="true"></i>Faire un don</a></li>
            <li><a href="#" ><i class="fa fa-sign-in" aria-hidden="true"></i>Connexion</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['']">
                  <img width="200" height="40" src="src/app/assets/images/logo.png" alt="École Protestante du Cèdre">
                  <div class="logo-text">Ecole Chretienne Arche de Moïse</div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a [routerLink]="['']">
                            <i class="fa fa-home" aria-hidden="true"></i> 
                            <p>Accueil</p>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a [routerLink]="['nos-valeurs']" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-key" aria-hidden="true"></i> 
                            <p>Nos Valeurs <b class="caret"></b></p>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a [routerLink]="['nos-valeurs/qui-sommes-nous']"><span class="glyphicon glyphicon-tag"></span>Qui sommes-nous?</a>
                            </li>
                            <li>
                                <a [routerLink]="['nos-valeurs/notre-mission']"><span class="glyphicon glyphicon-tag"></span>Notre mission</a>
                            </li>
                            <li>
                                <a [routerLink]="['nos-valeurs/nos-archives']"><span class="glyphicon glyphicon-tag"></span>Archives</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a [routerLink]="['']" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-book" aria-hidden="true"></i> 
                            <p>Scholarite <b class="caret"></b></p>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span>Programme scholaire</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span>Admission</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span>Calendrier</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span>Ressources et ouvrages</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span>Project educatif</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-edit"></span>Developpement Personnel</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a [routerLink]="['']" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i> 
                            <p>Communaute <b class="caret"></b></p>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-expand"></span>Actualites</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-expand"></span>Portail parents</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-expand"></span>Vie a l'ecole</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-expand"></span>Parrainages</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-expand"></span>Travaux et entretien</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-expand"></span>Temoignages</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-expand"></span>Faire un don</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-expand"></span>Galerie</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['']">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> 
                            <p>contact</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <router-outlet></router-outlet>

    <!--footer start from here-->
    <footer>
        <div class="container">
            <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <div class="logofooter"> Logo</div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. text ever since the 1500s, when an unknown printer took a galley.</p>
                <p><i class="fa fa-map-pin"></i> 210, Blvd Lumumba - Limete, Kinshasa, RDC</p>
                <p><i class="fa fa-phone"></i> Tel.(RDC) : +243 9999 878 398</p>
                <p><i class="fa fa-envelope"></i> E-mail : info@ecamo.org</p>
                
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Liens essentiels</h6>
                <ul class="footer-ul">
                <li><a href="#">Jobs</a></li>
                <li><a href="#"> Reglement prives</a></li>
                <li><a href="#"> Termes & Conditions</a></li>
                <li><a href="#">Questions souvent posees</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Dernieres nouvelles</h6>
                <div class="post">
                <p>Le Ministère de la jeunesse donne les outils nécessaires aux jeunes gens<span>August 3,2015</span></p>
                <p> Le servir avec les talents que Dieu leur a donnés. La thématique<span>August 3,2015</span></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">

            </div>
            </div>
        </div>
    </footer>
    <!--footer start from here-->

    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
            <p>© 2016 - All Rights with ECAMO</p>
            </div>
            <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="#">ecamo.org</a></li>
                <li><a href="#">Faq's</a></li>
            </ul>
            </div>
        </div>
    </div>



    